__pycache__/
*.py[cod]
*$py.class
datasets/
wasb_outputs/
yolo_output/
output/
*.zip
outputs/
reports/
organized_outputs/
patch_outputs/
pipeline_outputs/
pipeline_outputs_test/
hybrid_outputs/
clip1_yolo/
hybrid_outputs2/
hybrid_outputs3/
hybrid_outputs4/
hybrid_outputs5/
left_frames/
left_labels_pred/
left_orig_yolo_labels_wasb/
*.mp4
left_up/
left_up_labels_pred/
left_yolo/
left_up_vis_pred/
*.jpg